.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: calc(60px + var(--safe-area-inset-top, 0));
    padding-bottom: calc(var(--bottom-nav-height, 70px) + var(--safe-area-inset-bottom, 0) + 1rem);
}



/* Generic Data Card for lists */


::deep [data-bs-theme="dark"] .segmented-control {
    background-color: var(--gray-900);
}

    ::deep [data-bs-theme="dark"] .segmented-control button.active {
        background-color: var(--gray-700);
    }