@page "/"
@inject NavStateService NavState
<PageTitle>داشبورد</PageTitle>
<div class="dashboard-container">
    
    <DashboardHeader />

@*     <WatchlistWidget/> *@

    <TradingHallsWidget />

    <MarketMoversWidget />
    
    <MainPlayersWidget Players="mainPlayersData" />

    <MarketExcitementWidget />

    <MarketSentimentWidget />

    <SupplyRiskWidget />
    
    <NewsWidget/>

</div>

@code {
    protected override void OnInitialized()
    {
        NavState.SetNavState("کالا نما", false);
        LoadDemoData();
        base.OnInitialized();
    }
    private List<MainPlayer> mainPlayersData = new();
    private MarketExcitement? marketExcitementData;
    private void LoadDemoData()
    {
        mainPlayersData = new List<MainPlayer>
        {
            new()
            {
                Type = "برترین کارگزار",
                Name = "کارگزاری مفید",
                IconCssClass = "bi bi-person-workspace",
                MarketShare = 18.4m
            },
            new()
            {
                Type = "برترین عرضه‌کننده",
                Name = "فولاد مبارکه",
                IconCssClass = "bi bi-buildings-fill",
                MarketShare = 25.1m
            }
        };
        marketExcitementData = new MarketExcitement
        {
            Title = "تقاضای بالا",
            Description = "بخش عمده معاملات امروز به روش حراج باز انجام شده که نشان‌دهنده رقابت شدید و هیجان در بازار است.",
            Percentage = 70,
            Label = "حراج"
        };
    }
}
