@if(Data is not null)
{
    <div class="group-header-container">
        <div class="group-title-section">
            <div class="group-icon @Data.ThemeCssClass"><i class="@Data.IconCssClass"></i></div>
            <h1 class="group-title">@Data.Title</h1>
        </div>
    </div>
}

@code {
    [Parameter]
    public MarketShortcutItem? Data { get; set; }
}
