################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpotMarket.WebAssembly/bin/Debug/net9.0
/SpotMarket.WebAssembly/obj
*.user
