<div class="bottom-nav">
    <nav class="bottom-nav-inner-content">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-item" aria-label="داشبورد">
            <i class="bi bi-grid nav-icon"></i>
            <span class="nav-text">داشبورد</span>
        </NavLink>
        <NavLink href="markets" class="nav-item" aria-label="بازارها">
            <i class="bi bi-kanban nav-icon"></i>
            <span class="nav-text">بازارها</span>
        </NavLink>
        <NavLink href="watchlist" class="nav-item" aria-label="پیگیری">
            <i class="bi bi-star nav-icon"></i>
            <span class="nav-text">پیگیری</span>
        </NavLink>
        <NavLink href="search" class="nav-item" aria-label="جستجو">
            <i class="bi bi-search nav-icon"></i>
            <span class="nav-text">جستجو</span>
        </NavLink>
    </nav>
</div>

@code {
}
