/* استایل برای ویجت نوار حیاتی بازار */
.vitals-widget {
    padding: 1rem 0;
}

.vitals-strip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    background-color: var(--card-background-color);
    border-radius: 1.25rem;
    border: 1px solid var(--border-color);
}

.vitals-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

    .vitals-item .title {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--text-secondary-color);
        margin-bottom: 0.25rem;
    }

    .vitals-item .value {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 700;
    }

        .vitals-item .value.positive {
            color: var(--success-color);
        }

        .vitals-item .value.negative {
            color: var(--danger-color);
        }

        .vitals-item .value .bi {
            font-size: 1.5rem;
        }

.vitals-divider {
    width: 1px;
    height: 30px;
    background-color: var(--border-color);
}

.vitals-strip .vitals-divider:last-of-type {
    display: none;
}


/* حالت تیره */
[data-bs-theme="dark"] .vitals-strip {
    background-color: var(--gray-800);
    border-color: var(--gray-700);
}

[data-bs-theme="dark"] .vitals-divider {
    background-color: var(--gray-700);
}
