@* الهام گرفته از ویجت‌های برنامه Clock اپل *@

<div class="alarms-widget">
    <div class="widget-header">
        <h3 class="widget-title">هشدارهای بازار</h3>
    </div>
    <div class="alarms-list">
        @* هشدار اول: رقابت فولاد *@
        <div class="alarm-item">
            <div class="alarm-info">
                <span class="value">+۱۲.۵٪</span>
                <span class="label">رقابت شمش فولادی</span>
            </div>
            <div class="alarm-toggle active">
                <div class="toggle-handle"></div>
            </div>
        </div>

        @* هشدار دوم: تقاضای سیمان *@
        <div class="alarm-item">
            <div class="alarm-info">
                <span class="value">۰.۸x</span>
                <span class="label">تقاضای سیمان</span>
            </div>
            <div class="alarm-toggle">
                <div class="toggle-handle"></div>
            </div>
        </div>
    </div>
</div>

@code {
    // This component is currently using static data for design purposes.
}
