.header-container {
    padding: 24px 8px 0 8px;
    display: flex;
    gap: 1rem;
    align-items: normal;
}

    .header-container h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        line-height: 1;
        color: var(--text-primary-color);
    }

    .header-container .symbol {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--text-secondary-color);
        margin-top: 8px;
        letter-spacing: 0.5px;
    }
.header-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    color: white;
    flex-shrink: 0;
}

.header-icon.industrial {
    background-color: var(--gray-600); /* صنعتی و سیمان */
}

.header-icon.petro {
    background-color: var(--success-color); /* پتروشیمی */
}

.header-icon.agri {
    background-color: #e67e22; /* کشاورزی */
}


.header-icon.oil-prod {
    background-color: #34495e; /* فرآورده های نفتی */
}

.header-icon.auto {
    background-color: #9b59b6; /* خودرو */
}

.header-icon.gold {
    background-color: #f1c40f; /* طلا */
}

.header-icon.export {
    background-color: #3498db; /* صادراتی */
}

.header-icon.auction {
    background-color: var(--danger-color); /* حراج */
}

.header-icon.real-estate {
    background-color: #1abc9c; /* املاک */
}

.header-icon.premium {
    background-color: #8e44ad; /* پریمیوم */
}

.header-icon.tender {
    background-color: #2c3e50; /* مناقصه */
}

.header-icon.other {
    background-color: var(--text-secondary-color); /* سایر */
}