<div class="offer-list-placeholder">
    <i class="bi bi-check2-all"></i>
    <span class="title">لیست عرضه‌های معامله شده</span>
    <span class="subtitle">این قسمت در آینده تکمیل خواهد شد.</span>
</div>
