@page "/markets/physical"
@using SpotMarket.Shared.Services.Presentation
@using SpotMarket.Shared.Models.Presentation
@inject NavStateService NavState

<PageTitle>@_pageTitle</PageTitle>

<div class="trading-hall-page">
    <TradingHallHeader />
    <TradingHallStatusWidget />
    <TradingHallDailyHighlightsWidget />
    <TradingHallOffersContainer/>
</div>

@code {
    private string _pageTitle = "تالار معاملات فیزیکی";
    private string _activeTab = "trades";

    protected override void OnInitialized()
    {
        NavState.SetNavState(_pageTitle, true);
    }

}

