@page "/markets/{mainGroupId:int}/{groupId:int}"
@using SpotMarket.WebAssembly.Services.Presentation
@inject NavStateService NavState
@inject IMarketsService MarketService
@inject IMainGroupService MainGroupService
@inject IGroupService GroupService
<div class="page-container">
    <GroupHeaderWidget Data="@groupName" />
    @if (_isLoading)
    {
        <p><em>در حال بارگذاری اطلاعات گروه اصلی...</em></p>
    }  else {
        @switch (groupActivityStatus)
        {
            case GroupActivityStatus.HasOfferToday:
                <MarketConditionsWidget Data="groupActivitiesData" />
                break;
            case GroupActivityStatus.HasUpcomingOffer:
                <UpcomingOffersWidget Data="upcomingOffersData" />
                break;
            case GroupActivityStatus.Inactive:
                <NoActivityWidget />
                break;
            default:
                break;
        }
        <ExpandableSubGroupListWidget Data="groupListData" Unit="زیرگروه" Title="زیرگرو‌ه های فعال" UrlPrefix="@urlprefix" />
    }

</div>
@code {
    [Parameter] public int mainGroupId { get; set; }
    [Parameter] public int groupId { get; set; }
    private MarketShortcutItem? groupName;
    private GroupListData groupList = new();
    private GroupListData? groupListData;
    private GroupActivityStatus groupActivityStatus;
    private GroupActivityData? activeGroupData;
    private UpcomingOffersData? upcomingOffersData;
    private MarketConditionsData? groupActivitiesData;

    private string urlprefix => $"{mainGroupId}/";
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadDate();
        base.OnInitialized();

    }

    private async Task LoadDate()
    {
        try
        {
            var mainGroupList = await MarketService.GetMarketShortcutsData();
            groupName = mainGroupList.Items.FirstOrDefault(g => g.Code == mainGroupId);
            groupList = await MainGroupService.GetActiveGroupsAsync(mainGroupId);
            var _groupName = groupList.Items.FirstOrDefault(g => g.UrlName == groupId.ToString());
            groupName.Title = _groupName.Title;
            groupName.Code = int.Parse(_groupName.UrlName);
            var pageTitle = $"تحلیل گروه {groupName?.Title}";
            NavState.SetNavState(pageTitle, true, $"/markets/{mainGroupId}");
            groupListData = await GroupService.GetActiveSubGroupsAsync(groupName.Code);

            groupActivityStatus = groupListData.Items.Exists(x => x.Status == GroupActivityStatus.HasOfferToday) ? GroupActivityStatus.HasOfferToday : groupListData.Items.Exists(x => x.Status == GroupActivityStatus.HasUpcomingOffer) ? GroupActivityStatus.HasUpcomingOffer : GroupActivityStatus.Inactive;

            upcomingOffersData = await GroupService.GetUpcomingOffersAsync(groupName.Code);
            groupActivitiesData = await GroupService.GetSubGroupActivitiesAsync(groupName.Code);
        }
        catch (Exception ex)
        {
            // لاگ کردن خطا
            Console.WriteLine($"Error loading main group data: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
        }
    }
}
