@if(Data is not null)
{
    <div class="group-header-container">
        <div class="group-title-section">
            <div class="group-icon @themeCssClass(Data.IconCssClass)"><i class="@Data.IconCssClass"></i></div>
            <h1 class="group-title">@Data.GroupName</h1>
        </div>
    </div>
}

@code {
    [Parameter]
    public GroupHeaderData? Data { get; set; }

    private string themeCssClass(string iconCssClass) => iconCssClass switch
    {
        "bi bi-building" => "industrial",
        "bi bi-tree-fill" =>  "agri",
        "bi bi-droplet-fill" =>  "petro",
        "bi bi-gem" =>  "mineral",
        "bi bi-fuel-pump-fill" =>  "oil-products",
        "bi bi-house-door-fill" =>  "real-estate",
        "bi bi-shop" =>  "fork",
        _=> "other"
    };
}
