@page "/privacy-policy"
<div class="p-4">
    <h3 class="text-l font-bold mt-4 mb-2">سیاست حریم خصوصی برنامه «کالانما»</h3>
    <p class="text-sm mb-4 text-justify">ما در تیم توسعه‌دهنده برنامه «کالانما» به حفظ حریم خصوصی کاربران خود متعهد هستیم. این سیاست حریم خصوصی توضیح می‌دهد که چه اطلاعاتی از شما جمع‌آوری می‌کنیم، چگونه از آن‌ها استفاده می‌کنیم، و چگونه از آن‌ها محافظت می‌کنیم. لطفاً این سند را با دقت مطالعه کنید. با استفاده از برنامه «کالانما»، شما با شرایط و ضوابط مندرج در این سیاست موافقت می‌کنید.</p>

    <h4 class="text-l font-semibold mt-4 mb-2" id="1-">1. اطلاعات جمع‌آوری‌شده</h4>
    <p class="text-sm mb-2 text-justify">ما در حال حاضر هیچ اطلاعاتی از کاربران خود جمع‌آوری نمی‌کنیم.</p>
    <p class="text-sm mb-2 text-justify">تمام اطلاعاتی که کاربر در قسمت های مختلف برنامه ثبت می‌کند، در دستگاه کاربر ذخیره می‌شود و به هیچ عنوان به بیرون از دستگاه کاربر منتقل نمی‌شود.</p>

    <h4 class="text-l font-semibold mt-4 mb-2" id="2-">2. هدف جمع‌آوری اطلاعات</h4>
    <p class="text-sm mb-2 text-justify">اطلاعات وارد شده برای اهداف زیر استفاده می‌شوند:</p>
    <ul class="text-xs list-disc list-inside mb-4">
        <li>امکان محاسبه محتوای اختصاصی شده مرتبط با  قسمت های مختلف برنامه.</li>
        <li>ذخیره‌سازی و شخصی‌سازی تجربه کاربر در برنامه؛ این اطلاعات به‌عنوان راهی برای اتصال تنظیمات و پروفایل شخصی کاربر استفاده می‌شود.</li>
    </ul>

    <h4 class="text-l font-semibold mt-4 mb-2" id="3-">3. اشتراک‌گذاری اطلاعات</h4>
    <p class="text-sm mb-4 text-justify">ما متعهد هستیم که اطلاعات شخصی کاربران را با هیچ شخص یا سازمان ثالثی به اشتراک نگذاریم، مگر در مواردی که الزام قانونی وجود داشته باشد. در صورت وجود الزامات قانونی، ما تابع قوانین کشور هستیم و از آن‌ها پیروی خواهیم کرد.</p>

    <h4 class="text-l font-semibold mt-4 mb-2" id="4-">4. امنیت اطلاعات</h4>
    <p class="text-sm mb-4 text-justify">ما از اقدامات امنیتی مناسب برای حفاظت از اطلاعات شخصی شما در برابر دسترسی غیرمجاز، افشا، تغییر یا تخریب استفاده می‌کنیم. با این حال، لطفاً توجه داشته باشید که هیچ روش انتقال داده‌ای از طریق اینترنت یا ذخیره‌سازی الکترونیکی به‌طور کامل ایمن نیست و ما نمی‌توانیم امنیت مطلق را تضمین کنیم.</p>

    <h4 class="text-l font-semibold mt-4 mb-2" id="5-">5. حقوق کاربران</h4>
    <p class="text-sm mb-2 text-justify">شما به‌عنوان کاربر حق دارید:</p>
    <ul class="text-xs list-disc list-inside mb-4">
        <li>از نحوه استفاده از اطلاعات خود آگاه باشید.</li>
        <li>درخواست دسترسی به اطلاعات شخصی خود را داشته باشید.</li>
        <li>در صورت نیاز، درخواست اصلاح یا حذف اطلاعات خود را مطرح کنید (در چارچوب قوانین برنامه و الزامات قانونی).</li>
    </ul>

    <h4 class="text-l font-semibold mt-4 mb-2" id="6-">6. تماس با ما</h4>
    <p class="text-sm mb-4 text-justify">اگر سؤال، نگرانی یا درخواستی در مورد سیاست حریم خصوصی یا نحوه مدیریت اطلاعات خود دارید، می‌توانید از طریق ایمیل زیر با ما در ارتباط باشید:</p>
    <ul class="text-xs list-disc list-inside mb-4"><li><em>ایمیل پشتیبانی</em>: rkarimabadi@gmail.com</li></ul>

    <h4 class="text-l font-semibold mt-4 mb-2" id="7-">7. تغییرات در سیاست حریم خصوصی</h4>
    <p class="mb-4 text-justify">ما ممکن است این سیاست حریم خصوصی را در آینده به‌روزرسانی کنیم. در صورت ایجاد تغییرات، کاربران از طریق اعلان در برنامه یا ایمیل مطلع خواهند شد. ادامه استفاده از برنامه پس از اعمال تغییرات به‌منزله پذیرش سیاست به‌روزرسانی‌شده خواهد بود.</p>

    <h4 class="text-l font-semibold mt-4 mb-2" id="8-">8. رضایت کاربر</h4>
    <p class="text-sm mb-4 text-justify">با استفاده از برنامه «کالانما»، شما تأیید می‌کنید که این سیاست حریم خصوصی را مطالعه کرده‌اید و با جمع‌آوری و استفاده از اطلاعات خود طبق شرایط ذکرشده موافقت می‌کنید.</p>
    <p class="text-sm text-gray-500 mb-4"><em>تاریخ به‌روزرسانی: 1404/04/16</em></p>
</div>