<div class="privacy-policy-container">
    <a class="text-xs text-decoration-none pointer hover:underline" href="/privacy-policy">
        <span class="inline me-1"><img class="inline ml-1" src="_content/SpotMarket.Shared/images/icons/privacy-policy.svg"></span>سیاست حریم خصوصی
    </a>
    <div class="flex justify-center py-3 fixed bottom-0 w-full items-center">
        <div class="text-xs text-primary-500">تمامی محتوای برنامه متعلق به توسعه‌دهندگان «کالانما» است.<br/> منبع داده برنامه، سرویس انتشار اطلاعات عمومی «شرکت بورس کالای ایران» می‌باشد. </div>
    </div>
</div>

@code {

}
