<div class="header-container">
    <h1>@CommodityName</h1>
    <p class="symbol">@Symbol</p>
</div>

@code {
    [Parameter]
    public string CommodityName { get; set; } = "میلگرد";

    [Parameter]
    public string Symbol { get; set; } = "SMGRI601";
}