@inject ICommodityService CommodityService
<div class="header-container">
    <div class="header-icon @GetHallVisuals(data?.Ring).IconBgCssClass">
        <i class="bi @GetHallVisuals(data?.Ring).IconCssClass"></i>
    </div>
    <div class="header-info">
        <h1>@data?.CommodityName</h1>
        <p class="symbol">@data?.Symbol</p>
    </div>
</div>

@code {
    [Parameter] public int CommodityId { get; set; }
    [Parameter] public EventCallback<CommodityHeaderData> OnDataReceived { get; set; }
    private CommodityHeaderData? data;
    protected override async Task OnInitializedAsync()
    {
        data = await CommodityService.GetCommodityHeaderAsync(CommodityId);
        await OnDataReceived.InvokeAsync(data);
    }

    private (string IconCssClass, string IconBgCssClass) GetHallVisuals(string? hallName)
    {
        if( hallName is null) return ("bi bi-grid-fill", "other");
        if (hallName.Contains("صنعتی")) return ("bi bi-building", "industrial");
        if (hallName.Contains("پتروشیمی")) return ("bi bi-droplet-fill", "petro");
        if (hallName.Contains("کشاورزی")) return ("bi bi-tree-fill", "agri");
        if (hallName.Contains("نفتی")) return ("bi bi-fuel-pump-fill", "oil-prod");
        if (hallName.Contains("سیمان")) return ("bi bi-stack", "industrial");
        if (hallName.Contains("خودرو")) return ("bi bi-car-front-fill", "auto");
        if (hallName.Contains("طلا")) return ("bi bi-coin", "gold");
        if (hallName.Contains("صادراتی")) return ("bi bi-globe-americas", "export");
        if (hallName.Contains("حراج")) return ("bi bi-hammer", "auction");
        if (hallName.Contains("املاک")) return ("bi bi-house-door-fill", "real-estate");
        if (hallName.Contains("پریمیوم")) return ("bi bi-gem", "premium");
        if (hallName.Contains("مناقصه")) return ("bi bi-file-earmark-text-fill", "tender");
        return ("bi bi-grid-fill", "other");
    }
}