@page "/markets/{mainGroupId:int}/{groupId:int}/{subGroupId:int}"
@page "/commodity-tree/sub-groups/{subGroupId:int}"

@inject NavStateService NavState
@inject IMarketsService MarketService
@inject IMainGroupService MainGroupService
@inject IGroupService GroupService
@inject ISubGroupService SubGroupService
<PageTitle>@pageTitle</PageTitle>
<div class="page-container">

    <SubGroupHeaderWidget SubGroupId="@subGroupId" />

    <SubGroupHierarchyWidget SubGroupId="@subGroupId" OnDataReceived="OnHierarchyRecived" />

    <SubGroupListContainerWidget SubGroupId="subGroupId" UrlPrefix="@urlprefix" />
    <SubGroupOffersWidget SubGroupId="subGroupId" />

</div>
@code {
    [Parameter] public int? mainGroupId { get; set; }
    [Parameter] public int? groupId { get; set; }
    [Parameter] public int subGroupId { get; set; }
    private string? pageTitle;
    private string? urlprefix;
    private void OnHierarchyRecived(List<HierarchyItem> subGroupHierarchyData)
    {
        pageTitle = $"زیرگروه {subGroupHierarchyData?.First(x => x.Type == "SubGroup")?.Name}";
        NavState.SetNavState(pageTitle, true, $"/markets/{subGroupHierarchyData?.First(x => x.Type == "MainGroup")?.Id ?? mainGroupId}/{subGroupHierarchyData?.First(x => x.Type == "Group")?.Id ?? groupId}");
        urlprefix = $"{subGroupHierarchyData?.First(x => x.Type == "MainGroup")?.Id ?? mainGroupId}/{subGroupHierarchyData?.First(x => x.Type == "Group")?.Id ?? groupId}/{subGroupHierarchyData?.First(x => x.Type == "SubGroup")?.Id ?? subGroupId}/";
    }
}
