@inject ISubGroupService SubGroupService
@if(data is not null)
{
    <div class="group-header-container">
        <div class="group-title-section">
            <div class="group-icon @themeCssClass(data.IconCssClass)"><i class="@data.IconCssClass"></i></div>
            <h1 class="group-title">@data.SubGroupName</h1>
        </div>
    </div>
}

@code {
    [Parameter] public int SubGroupId { get; set; }
    [Parameter] public EventCallback<SubGroupHeaderData> OnDataReceived { get; set; }

    protected override async Task OnInitializedAsync()
    {
        data = await SubGroupService.GetSubGroupHeaderDataAsync(SubGroupId);
        await OnDataReceived.InvokeAsync(data);
    }
    private SubGroupHeaderData? data;

    private string themeCssClass(string iconCssClass) => iconCssClass switch
    {
        "bi bi-building" => "industrial",
        "bi bi-tree-fill" =>  "agri",
        "bi bi-droplet-fill" =>  "petro",
        "bi bi-gem" =>  "mineral",
        "bi bi-fuel-pump-fill" =>  "oil-products",
        "bi bi-house-door-fill" =>  "real-estate",
        "bi bi-shop" =>  "fork",
        _ =>  "fork"
    };
}
